{% extends "bootstrap/base.html" %}
{% block title %}Task List Client{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tasks.js') }}"></script>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <!-- ... -->
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Task List</h1>

        <div id="theList">
        </div>

        <hr>
        <form id="addForm" class="form-inline">
            <div class="form-group">
                <label for="taskdescription">Task: </label>
                <input id="taskdescription" class="form-control" name="description"/>
            </div>
            <div class="checkbox">
                <label for="taskurgent">
                    <input id="taskurgent" type="checkbox" name="urgent" value="yes"/>
                Urgent</label>
            </div>
              <button type="submit" class="btn btn-default">Add</button>
        </form>

    </div>
{% endblock %}